.paragraph {
    clear: both;
}

.paragraph--type--leggodt-hero {
    position: relative;
    padding-top: 100px;
    padding-bottom: 80px;
    overflow: hidden;
}

.paragraph--type--leggodt-hero > :not(.paragraph--type--leggodt-hero__image) {
    position: relative;
    z-index: 2;
    width: 60%;
    padding: 20px;
    margin: 0 0 0 auto;
}

.paragraph--type--leggodt-hero .paragraph--type--leggodt-hero__image {
    position: absolute;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    left: 0;
    z-index: 0;
}

.paragraph--type--leggodt-hero .paragraph--type--leggodt-hero__image > div {
    margin: 0;
}

.paragraph--type--leggodt-hero > :not(.paragraph--type--leggodt-hero__image)::before {
    content: '';
    position: absolute;
    background: #222222;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) blockquote,
.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) h1,
.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) h2,
.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) h3,
.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) h4,
.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) h5,
.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) h6,
.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) ol,
.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) p,
.paragraph--type--leggodt-hero:not(.paragraph--overlay--invert) ul {
    color: #FFFFFF;
}

.paragraph--overlay--invert > :not(.paragraph--type--leggodt-hero__image)::before {
    background: #FFFFFF;
}

[data-overlay="1"] > :not(.paragraph--type--leggodt-hero__image)::before {
    opacity: 0.1;
}

[data-overlay="2"] > :not(.paragraph--type--leggodt-hero__image)::before {
    opacity: 0.2;
}

[data-overlay="3"] > :not(.paragraph--type--leggodt-hero__image)::before {
    opacity: 0.3;
}

[data-overlay="4"] > :not(.paragraph--type--leggodt-hero__image)::before {
    opacity: 0.4;
}

[data-overlay="5"] > :not(.paragraph--type--leggodt-hero__image)::before {
    opacity: 0.5;
}

[data-overlay="6"] > :not(.paragraph--type--leggodt-hero__image)::before {
    opacity: 0.6;
}

[data-overlay="7"] > :not(.paragraph--type--leggodt-hero__image)::before {
    opacity: 0.7;
}

[data-overlay="8"] > :not(.paragraph--type--leggodt-hero__image)::before {
    opacity: 0.8;
}

[data-overlay="9"] > :not(.paragraph--type--leggodt-hero__image)::before {
    opacity: 0.9;
}
