.leggodt-section--stlye--light {
    background-color: #FFFFFF;
}

.leggodt-section--stlye--medium {
    background-color: #EEEEee;
}

.leggodt-section--stlye--dark {
    background-color: #DDDDDD;
}
